.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;
}

.tittel {
    width: 50%;
    padding-bottom: 50px
}

.container h1 {
    border-bottom: 3px solid;
    padding-bottom: 10px;
}

.boks {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
}

.kolonne {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

img {
    width: 100%;
    border-radius: 10px;
}