img {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#s1 {
    background-color: rgba(131, 175, 157, 0.326);
    padding: 5%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    

}

.bilde {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    object-fit: cover;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tekst {
    flex: 1;
    min-width: 250px;
    max-width: 600px;
    max-height: 400px;
}

.polaroid {
    width: 250px;
    flex-shrink: 0;
    max-width: 100%;
}

.p1 {
    transform: rotate(10deg);

}

.p2 {
    transform: rotate(-10deg);

}

#s2 {
    padding: 5%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
}

.grid img {
    border-radius: 20%;
    border: 5px solid rgb(131, 175, 157);
    width: 100%;
    height: auto;
    
}