img {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#s1 {
    background-color: rgba(131, 175, 157, 0.326);
    padding: 100px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    align-items: center;

}

.bilde {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tekst {
    
}

.polaroid {
    width: 250px;
}

.p1 {
    transform: rotate(10deg);

}

.p2 {
    transform: rotate(-10deg);

}

#s2 {
    padding: 0 150px 150px;
}