
header{
    border-bottom: solid lightblue 3px;
    height: 50px;
            
}
    
header h1{
    margin: 10px;
        
}
    
.intro {
    background-color: rgba(173, 216, 230, 0.326);
    height: 1000px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}