

.intro {
    background-color: rgba(131, 175, 157, 0.326);
    padding: 100px 150px 200px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.intro-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: center;
}

.intro-container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.introtekst {
    flex: 1;
}

.midtdel {
    padding: 0 150px 150px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.midtdel a {
    width: 500px; 
    height: 550px;   
    color: white;
    transition: transform 0.3s ease;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
}

.midtdel a:hover {
    transform: scale(1.05);

}

.familie {
    margin: -70px 0;
    background-image: url(bilder/familie/familie.jpg);
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;

}

.venner {
    margin: -200px 0;
    background-image: url(bilder/venner/allebunad.jpg);
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;


}

.overlay {
    background-color: rgba(51, 133, 118, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    padding: 20px;
}

.sluttdel {
    background-color: rgba(131, 175, 157, 0.326);
    padding: 100px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    text-align: center;
}

.karusell {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20%;
    padding: 50px 0;
    max-width: 100%;
    margin: 0 auto;
    color: white;

}

.karusell a {
    flex: 0 0 70%;
    height: 500px;
    position: relative;
    border-radius: 20px;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
    
}

.karusell a:hover {
    transform: scale(1.05);
}

.dans {
    background-image: url(bilder/dans/speil.jpg);
    
}

.skole{
    background-image: url(bilder/skole/nadderud.jpg);
}


.karusell::-webkit-scrollbar {
    height: 8px;
}

.karusell::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.karusell::-webkit-scrollbar-thumb {
    background: rgba(51, 133, 118, 0.5);
    border-radius: 10px;
}

.karusell::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 133, 118, 0.8);
}

a h1{
    text-shadow: 0 0 3px black;
}